<ng-container *ngrxLet="dogs$ as dogs">
  <a routerLink="create">Create</a>
  <mat-card *ngFor="let dog of dogs">
    <mat-card-title-group>
      <mat-card-title>{{ dog.name }}</mat-card-title>
      <!-- <img mat-card-sm-image [src]="dog.imagesRef[0] | async" provide adding profile picture /> -->
    </mat-card-title-group>
    <mat-card-content>
      <div>
        gender: {{ dog.gender }} <br />
        dateOfBirth: {{ dog.dateOfBirth }} <br />
        hairType: {{ dog.hairType }} <br />
        description: {{ dog.description }} <br />
        height: {{ dog.height }} <br />
        isForSale:{{ dog.isForSale }} <br />
        isForShow: {{ dog.isForShow }} <br />
        mother: {{ dog.parents.mother }} <br />
        father: {{ dog.parents.father }}
      </div>
      <ng-container *ngFor="let image of dog.images; let index = index">
        <div *ngIf="image.ref | async as ref">
          <img [src]="ref" [alt]="image.path" width="300" height="200" />
          <button mat-raised-button color="warn" (click)="onImageDelete(image)">
            X
          </button>
        </div>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="accent"
        routerLink="edit"
        [queryParams]="{ id: dog.id }"
      >
        EDIT
      </button>
      <button mat-raised-button color="warn" (click)="onDogDelete(dog)">
        DELETE
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
<router-outlet></router-outlet>
